Modificar Usuarios (<a href="/admin/usuario">Volver</a>)<br /><br />
<form method="POST" action="/admin/festivales/modificar_usuario">
    Nombre: <br/>
    <input name="nombre" type="text" value="{USUARIOS_NOMBRE}"/>
<br/>    
    Apellido: <br/>
    <input name="apellido" type="text" value="{USUARIOS_APELLIDO}"/>
<br/>    
   
<input type="hidden" name="id" value="{USUARIOS_ID}"/>
<!--<input type="hidden" name="sysMunicipioId" value="1"/>-->
<input type="submit" value="Aceptar">
</form>